<!-- Formulario -->

<form>
    <input
    type="text"
    placeholder="Curso"
    [(ngModel)]="inputNomeCurso"
    name="nomeCurso"
  />
  <input
    type="number"
    placeholder="Valor"
    [(ngModel)]="inputValorCurso"
    name="valorCurso"
  />
  <input
    type="text"
    placeholder="Area"
    [(ngModel)]="inputAreaCurso"
    name="areaCurso"
  />
  <input type="button" value="Cadastrar" (click)="Cadastro()" *ngIf="id<0"/>
  <input type="button" value="Editar" (click)="atualizar()" *ngIf="id>=0" />
</form>

<!-- Tabela -->

<table>
    <tr>
        <td>Curso</td>
        <td>Valor</td>
        <td>Area</td>
        <td>Acoes</td>
    </tr>
    <tr *ngFor="let curso of VetorCursos; let id=index">
        <td>{{curso.nomeCurso}}</td>
        <td>{{curso.valorCurso}}</td>
        <td>{{curso.areaCurso}}</td>
        <td>
            <button (click)="excluir(id)">Excluir</button>
            <button (click)="alterar(id)">Alterar</button>
        </td>
        
    </tr>
</table>