<!-- Formulario -->

<form>
    <input
    type="text"
    placeholder="Curso"
    [(ngModel)]="inputNomeCurso"
    name="nomeCurso"
  />
  <input
    type="number"
    placeholder="Valor"
    [(ngModel)]="inputValorCurso"
    name="valorCurso"
  />
  <input
    type="text"
    placeholder="Area"
    [(ngModel)]="inputAreaCurso"
    name="areaCurso"
  />
  <input type="button" value="Cadastrar" (click)="Cadastro()" />
</form>

<!-- Tabela -->

<table>
    <tr>
        <td>Curso</td>
        <td>Valor</td>
        <td>Area</td>
        <td>Acoes</td>
    </tr>
    <tr *ngFor="let curso of VetorCursos">
        <td>{{curso.nomeCurso}}</td>
        <td>{{curso.valorCurso}}</td>
        <td>{{curso.areaCurso}}</td>
        
    </tr>
</table>